.container{
    width: 70%;
    margin: 39px auto;
    height: auto; 
    padding-top: 10px;  
    padding-bottom: 10px;
}

.main_container > div.todo:nth-child(odd){
    background-color: #faf1e6;
    
}

.main_container{
    width: 70%;
    margin: 0px auto 20px auto;
    text-align: center;
}

.todo{
    display: inline-block;
    width: 126px;
    background-color: #fdfaf6;
    border: 1px solid #064420;
    border-radius: 10px;
    margin: 15px 20px 20px 15px;
    
}


.done{
    text-decoration: line-through;
}

input{
    height: 35px;
    margin-right: 5px;
    border: 1px solid #064420;
}

input[type="button"]{
    border: none;
    height: 40px;
    width: 100px;
    background-color: #064420;
    border: 2px solid transparent;
    padding-top: -3px;
    color: #faf1e6;
    font-size: 16px;
}

input[type="button"]:hover, button:hover{
    cursor: pointer;
}

input[type="text"]{
    width: 170px;
    font-size: 15px;
}

.taskAdd{
    margin: 5px auto 20px auto;
    text-align: center;
}

p{
    color: #064420;
    font-weight: bolder;
    letter-spacing: 1.5px;
    font-size: 20px;
}

.linking{
    text-align: center;
}

button{
    height: 45px;
    margin-right: 20px;
    border: 1px solid #064420;
    background-color: #064420;
    font-size: 16px;
    color: #faf1e6;
}

.doinglists{
    background-color: #fdfaf6;
}
.donelists{
    background-color: #e4efe7;
}
.alllists{
    background-color:#faf1e6;
}
